.auth-form {
    height: 80vh;

    &__register {
        height: 90vh;
    }
}

.errors {
    box-shadow: 0 5px 10px rgba(255,0,0,0.15);
    //transition: all 1s ease-in-out;
}

.errors :hover {
    box-shadow: 0 10px 20px rgba(255,0,0,0.5);
    transform: scale(1.02);
}

#error :hover {
    box-shadow: none;
}
