.form {
    margin: 0 auto;
}

.form-card {
    min-width: 400px;
}

.form__header {
    text-align: center;
}

.form-wrapper {
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
